
.homecontent {
  padding-top: 1rem;
  width: 80%;
  margin: auto;
}

ion-list-header {
  font-size: 17px;
  text-decoration: solid;
}

.addCarButton {
  width: 80%;
  margin: auto;
  height: 30px;
  margin-bottom: 2%;
}

.errorMessage {
  color: red;
  margin-bottom: 2%;
}

.donebutton {
  margin-top: 2rem;
}

.hduhau {
  padding-top: 1rem;
  color: #48067f;
  font-size: 17px;
}

ion-card {
  box-shadow: 1px 1px 5px 0px rgba(84, 6, 156, 0.315);
  border-radius: 12px;
  margin: 12px;
  
}